{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Liste Pain{% endblock %}

{% block body %}
    <div>
        <h1 class="text-3xl font-bold underline m-0">
            Liste Pain
        </h1>
    </div>

    <div>
        <ol>
            {% for pain in pains %}
                <li> {{ pain.nom }} </li>
            {% endfor %}
        </ol>
    </div>    
{% endblock %}